/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Trang */
body {
    background: url('baocao.jpg') no-repeat center center/cover;
    min-height: 100vh;
    padding: 20px;
    color: #111010;
}

/* Khung */
.report-container {
    background: rgb(207, 200, 200);
    width: 95%;
    max-width: 1200px;
    position: relative;   
    margin: 30px auto;
    padding: 60px 30px 30px; /* chừa chỗ cho nút */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* MENU */
.report-menu {
      display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.report-menu a {
    background: #1e88e5;
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}

.report-menu a.active {
    background: #0d47a1;
}


/* Tiêu đề */
h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Khu vực nút */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 15px;

}

/* Nút chung */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

/*Nút Trang chủ*/
.footer-left {
    margin-top: 25px;
    float: left;
}

.footer-right {
    margin-top: 25px;
    float: right;
}

.home-btn {
    background: linear-gradient(135deg, #696969, #7b7e81);
    color: #fff;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.home-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(52, 152, 219, 0.4);
}

/* Nút làm mới */
.btn.refresh {
    background: linear-gradient(135deg, #3498db, #2980b9);
    color: #fff;
}

.btn.refresh:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(52, 152, 219, 0.4);
}

/* Nút in */
.btn.print {
    background: linear-gradient(135deg, #2ecc71, #27ae60);
    color: #fff;
}

.btn.print:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(46, 204, 113, 0.4);
}

/* Bảng */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table thead {
    background: #27ae60;
    color: #fff;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}

/* Trạng thái */
.thuong {
    color: green;
    font-weight: bold;
}

.kyluat {
    color: red;
    font-weight: bold;
}

.empty {
    text-align: center;
    color: #999;
}
/* ẨN NÚT KHI IN */
@media print {
    button {
    display: none !important;
  }
}
@media print {
    .home-btn {
    display: none !important;
  }
}