body {
    font-family: Arial;
    background: #f5f6fa;
    padding: 20px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #2f3640;
    color: white;
}

img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

a {
    text-decoration: none;
    margin: 0 5px;
}

form {
    width: 500px;
    margin: auto;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.search-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.search-box input[type="text"] {
    width: 260px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    padding: 8px 18px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-box button:hover {
    background: #0056b3;
}

.search-box a {
    padding: 8px 14px;
    background: #6c757d;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.search-box a:hover {
    background: #545b62;
}

/* NUT THEM NHAN VIEN*/
.top-actions {
    margin-bottom: 15px;
    text-align: left;
}

.btn-add {
    padding: 8px 16px;
    background: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn-add:hover {
    background: #218838;
}




