*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background :url("qlns.jpg");
    background-size: cover;
    background-position-y: -60px;
    font-size: 16px;
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-login
{
    max-width: 400px;
    background: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    padding:50px 40px 60px;;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.form-heading
{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}

.form-group
{
    border-bottom: 1px solid #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative; 
}
.form-input
{
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
}
.form-input::placeholder
{
    color:#f5f5f5
}
.form-submit{
    background:transparent;
    border:1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 10px ;
    transition: 0.25s ease-in-out;
    margin-top :10px; 
}

.form-submit:hover{
    border: 1px solid #54a0ff;
}
.form-group i{
    color: #fff;
    font-size: 14px;
}
#eye {
    right: 10px;        /* ⭐ nằm bên phải */
    cursor: pointer;
    position: absolute;   
}